
.signon{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signon-form {
  flex: 0 0 350px;
  padding: 30px;
  background-color: rgb(228, 62, 62);
  border-radius: 25px;
  box-shadow: 4px 3px rgba(0, 0, 0, 0.842);
}



.toast {
  position: absolute;
  bottom: 20px;
  right: 20px;
}